<div class="container">
  <h3 mat-dialog-title>Esta seguro?</h3>
  <div mat-dialog-content>
    Correo: {{data.correo}}
    <p></p>
    Usuario: {{data.user_name}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="1" (click)="confirmDelete()">Delete</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>
