<div class="container">
  <h3 mat-dialog-title>Agrega nuevo matriz</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>estado_cumplimiento</mat-label><input matInput #input class="form-control" placeholder="User_name" [(ngModel)]="data.estado_cumplimiento" name="estado_cumplimiento" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>compromiso</mat-label><input matInput #input class="form-control" placeholder="User_hash" [(ngModel)]="data.compromiso" name="compromiso" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>entidad_responsable</mat-label><input matInput #input class="form-control" placeholder="System_generated_password" [(ngModel)]="data.entidad_responsable" name="entidad_responsable" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>contacto</mat-label><input matInput #input class="form-control" placeholder="Pwd_last_changed" [(ngModel)]="data.contacto" name="contacto" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>observacion</mat-label><input matInput #input class="form-control" placeholder="Authenticate_id" [(ngModel)]="data.observacion" name="observacion" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>tema</mat-label><input matInput #input class="form-control" placeholder="Sugar_login" [(ngModel)]="data.tema" name="tema" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>fecha_cumplimiento</mat-label><input matInput #input class="form-control" placeholder="First_name" [(ngModel)]="data.fecha_cumplimiento" name="fecha_cumplimiento" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>createdById</mat-label><input matInput #input class="form-control" placeholder="Last_name" [(ngModel)]="data.createdById" name="createdById" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>updatedById</mat-label><input matInput #input class="form-control" placeholder="Is_admin" [(ngModel)]="data.updatedById" name="updatedById" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>fecha_modificacion</mat-label><input matInput #input class="form-control" placeholder="External_auth_only" [(ngModel)]="data.fecha_modificacion" name="fecha_modificacion" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
