<body style="width: 1000px; margin-left: -50px; text-align: center; margin-top: 100px">
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:-8cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><u><span style='font-family:"Arial",sans-serif;'>PROPUESTA DE @numTerrenos @ucProduct DE @superficie M2</span></u></strong></p>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><u></u></strong><br></p>
<table style="float: left;border-collapse:collapse;border:none;margin-right:4.8pt; margin-left: 180px; margin-top: 20px">
    <tbody>
    <tr>
        <td colspan="2" style="width: 196.8pt;border: 1pt solid windowtext;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 17.55pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">Ubicaci&oacute;n / Caracter&iacute;sticas&nbsp;</span></strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 99.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 17.55pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">Unidad Industrial</span></strong></p>
        </td>
        <td style="width: 97.55pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 17.55pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong>@unidadIndustrial</strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 99.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 16.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">Manzano</span></strong></p>
        </td>
        <td style="width: 97.55pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 16.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong>@manzano</strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 99.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 17.55pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">Lote&nbsp;</span></strong></p>
        </td>
        <td style="width: 97.55pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 17.55pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong>@lote</strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 99.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 16.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">Metros 2</span></strong></p>
        </td>
        <td style="width: 97.55pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;background: rgb(255, 192, 0);padding: 0cm 5.4pt;height: 16.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:black;">@superficie</span></strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 99.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 16.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">Frente&nbsp;</span></strong></p>
        </td>
        <td style="width: 97.55pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 16.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="font-size:13px;">@frente</span></strong><strong>&nbsp;m.</strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 99.25pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 16.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">Fondo&nbsp;</span></strong></p>
        </td>
        <td style="width: 97.55pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 16.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="font-size:13px;">@fondo&nbsp;</span></strong><strong>m.</strong></p>
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:-8cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><u>MODALIDAD DE PAGO MEDIANTE BANCO</u></strong></p>

<table style="float: left;border-collapse:collapse;border:none;margin-left:4.8pt;margin-left: 180px; margin-top: 20px">
    <tbody>
    <tr>
        <td style="width: 98.6pt;border: 1pt solid windowtext;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 19.7pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">PRECIO LOTE, PAGO MEDIANTE BANCO</span></strong></p>
        </td>
        <td style="width: 91.1pt;border-top: 1pt solid windowtext;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-image: initial;border-left: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 19.7pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:white;">@currency</span></strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 98.6pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 18.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">&nbsp;Precio m2</span></strong></p>
        </td>
        <td style="width: 91.1pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;background: rgb(255, 192, 0);padding: 0cm 5.4pt;height: 18.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:black;">@precioMetroCuadrado</span></strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 98.6pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 19.7pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Precio Total&nbsp;</span></strong></p>
        </td>
        <td style="width: 91.1pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;background: rgb(255, 192, 0);padding: 0cm 5.4pt;height: 19.7pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:black;">@precioTotal</span></strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 98.6pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 18.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Cuota Inicial&nbsp;</span></strong></p>
        </td>
        <td style="width: 91.1pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;background: rgb(255, 192, 0);padding: 0cm 5.4pt;height: 18.6pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:black;">@cuotaInicial</span></strong></p>
        </td>
    </tr>
    <tr>
        <td style="width: 98.6pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;background: rgb(23, 54, 93);padding: 0cm 5.4pt;height: 19.7pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:  normal;font-size:15px;font-family:"Calibri",sans-serif;'><strong><span style="color:white;">Saldo&nbsp;</span></strong></p>
        </td>
        <td style="width: 91.1pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;background: rgb(255, 192, 0);padding: 0cm 5.4pt;height: 19.7pt;vertical-align: top;">
            <p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:0cm;line-height:normal;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><span style="color:black;">@saldo</span></strong></p>
        </td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p style='margin-top:0cm;margin-right:0cm;margin-bottom:.0001pt;margin-left:-8cm;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;'><strong><u>@urlProduct</u></strong><br></p>

</body>
