
  <mat-toolbar *ngIf="convenioService.showToolBar">
    <button (click)="toggleMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Convenios</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="authService.logout()" class="example-icon" aria-label="Example icon-button with logout icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #drawer [mode]="'side'" *ngIf="convenioService.showSideBar" [opened]="convenioService.sidebarOpened">
      <mat-card class="example-card">
        <img class="portal-user-img" mat-card-image [src]="convenioService.urlUserPicture ? convenioService.urlUserPicture : ''" alt="Photo of a Shiba Inu">
        <mat-card-content class="align-center">
          <div class="portal-username">Nombre Apellido</div><br>
          <button class="portal-username" ma  t-button [matMenuTriggerFor]="menu">Usuario</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Empleados</button>
            <button mat-menu-item>Administrador</button>
            <button mat-menu-item>Foro Soporte</button>
            <button mat-menu-item>Accerca de</button>
            <button mat-menu-item>Salir</button>
          </mat-menu>
        </mat-card-content>

      </mat-card>

      <ng-material-multilevel-menu
        *ngIf="convenioService.showSideBar"
        [configuration]="appConfig"
        [items]="convenioService.appItems"
        (selectedItem)="selectedItem($event)"
        (menuIsReady)="menuIsReady($event)"
      ></ng-material-multilevel-menu>

    </mat-drawer>

    <router-outlet></router-outlet>

    <!--<mat-drawer-content>-->
    <!--<button mat-button (click)="openPipelineDialog($event)" class="btn-trigger"><mat-icon>bookmark</mat-icon>-->
    <!--Abrir CRM Pipeline</button>-->
    <!--<button mat-button (click)="openAdminDialog($event)" class="btn-trigger"><mat-icon>bookmark</mat-icon>-->
    <!--Abrir CRM Administrador</button>-->
    <!--</mat-drawer-content>-->
  </mat-drawer-container>

