<div class="container">
  <h3 mat-dialog-title>Agrega nueva persona</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_first_name</mat-label><input matInput #input class="form-control" placeholder="per_first_name" [(ngModel)]="data.per_first_name" name="per_first_name" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_second_name</mat-label><input matInput #input class="form-control" placeholder="per_second_name" [(ngModel)]="data.per_second_name" name="per_second_name" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_first_lastname</mat-label><input matInput #input class="form-control" placeholder="per_first_lastname" [(ngModel)]="data.per_first_lastname" name="per_first_lastname" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_second_lastname</mat-label><input matInput #input class="form-control" placeholder="per_second_lastname" [(ngModel)]="data.per_second_lastname" name="per_second_lastname" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_license</mat-label><input matInput #input class="form-control" placeholder="per_license" [(ngModel)]="data.per_license" name="per_license" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_license_comp</mat-label><input matInput #input class="form-control" placeholder="per_license_comp" [(ngModel)]="data.per_license_comp" name="per_license_comp" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_home_address</mat-label><input matInput #input class="form-control" placeholder="per_home_address" [(ngModel)]="data.per_home_address" name="per_home_address" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_mail</mat-label><input matInput #input class="form-control" placeholder="per_mail" [(ngModel)]="data.per_mail" name="per_mail" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_home_phone</mat-label><input matInput #input class="form-control" placeholder="per_home_phone" [(ngModel)]="data.per_home_phone" name="per_home_phone" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_cellphone</mat-label><input matInput #input class="form-control" placeholder="per_cellphone" [(ngModel)]="data.per_cellphone" name="per_cellphone" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_group</mat-label><input matInput #input class="form-control" placeholder="per_group" [(ngModel)]="data.per_group" name="per_group" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>createdById</mat-label><input matInput #input class="form-control" placeholder="createdById" [(ngModel)]="data.createdById" name="createdById" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>updatedById</mat-label><input matInput #input class="form-control" placeholder="updatedById" [(ngModel)]="data.updatedById" name="updatedById" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_parent_id</mat-label><input matInput #input class="form-control" placeholder="per_parent_id" [(ngModel)]="data.per_parent_id" name="per_parent_id" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_par_type_doc_id</mat-label><input matInput #input class="form-control" placeholder="per_par_type_doc_id" [(ngModel)]="data.per_par_type_doc_id" name="per_par_type_doc_id" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_par_city_id</mat-label><input matInput #input class="form-control" placeholder="per_par_city_id" [(ngModel)]="data.per_par_city_id" name="per_par_city_id" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_par_sex_id</mat-label><input matInput #input class="form-control" placeholder="per_par_sex_id" [(ngModel)]="data.per_par_sex_id" name="per_par_sex_id" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_par_country_id</mat-label><input matInput #input class="form-control" placeholder="per_par_country_id" [(ngModel)]="data.per_par_country_id" name="per_par_country_id" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_par_nacionality_id</mat-label><input matInput #input class="form-control" placeholder="per_par_nacionality_id" [(ngModel)]="data.per_par_nacionality_id" name="per_par_nacionality_id" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_par_status_id</mat-label><input matInput #input class="form-control" placeholder="per_par_status_id" [(ngModel)]="data.per_par_status_id" name="per_par_status_id" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>per_birthday</mat-label><input matInput #input class="form-control" placeholder="per_birthday" [(ngModel)]="data.per_birthday" name="per_birthday" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>dueAt</mat-label><input matInput #input class="form-control" placeholder="dueAt" [(ngModel)]="data.dueAt" name="dueAt" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>createdAt</mat-label><input matInput #input class="form-control" placeholder="createdAt" [(ngModel)]="data.createdAt" name="createdAt" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>updatedAt</mat-label><input matInput #input class="form-control" placeholder="updatedAt" [(ngModel)]="data.updatedAt" name="updatedAt" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
