<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="2" rowspan="2">
      <div class = 'row m-0 w-100' >
        <div class='col-md-4 offset-4 mt-5' *ngIf="!isLogin">
          <h4>Login</h4>
          <form [formGroup]="esLoginForm" (ngSubmit)="authService.login(esLoginForm)" >
            <div class = 'form-group'>
              <input class = 'form-control' type = "text" [(ngModel)]="vdsUser.user_name" formControlName="user_name" placeholder = "Username" ngModel>
            </div>
            <div class = 'form-group'>
              <input class = 'form-control' type = "password" [(ngModel)]="vdsUser.user_hash" formControlName="user_hash" placeholder = "Password" ngModel>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
          </form>
        </div>
        <div class='col-md-4 offset-4 mt-5' *ngIf="isLogin">
          <h1>You are logged in</h1>
          <button class = 'btn btn-outline-info' (click) = 'authService.logout()'>Log-out</button>
        </div>
      </div>

    </mat-grid-tile>
  </mat-grid-list>

</div>

