<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="2" rowspan="2">
      <div class = 'row m-0 w-100'>
        <div class = 'col-md-4 offset-4 mt-5' *ngIf="!isLogin">
          <h4>Register</h4>
          <form [formGroup]="esSignupForm" (ngSubmit)="authService.signup(esSignupForm)">
            <div class = 'form-group'>
              <input class = 'form-control' type = "text" [(ngModel)]="vdsUser.user_name" formControlName="user_name" placeholder = "Username" ngModel>
            </div>
            <div class = 'form-group'>
              <input class = 'form-control' type = "email" [(ngModel)]="vdsUser.correo" formControlName="correo" placeholder = "correo" ngModel>
            </div>
            <div class = 'form-group'>
              <input class = 'form-control' type = "password" [(ngModel)]="vdsUser.user_hash" formControlName="user_hash" placeholder = "Password" ngModel>
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Register</button>
          </form>
        </div>
        <div class = 'col-md-4 offset-4 mt-5' *ngIf="isLogin">
          <h5>You are logged in</h5>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

