<div class="container">
  <h3 mat-dialog-title>Agrega nuevo usuario</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>id_persona</mat-label><input matInput #input class="form-control" placeholder="id_persona" [(ngModel)]="data.id_persona" name="id_persona" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>user_name</mat-label><input matInput #input class="form-control" placeholder="user_name" [(ngModel)]="data.user_name" name="user_name" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>user_hash</mat-label><input matInput #input class="form-control" placeholder="user_hash" [(ngModel)]="data.user_hash" name="user_hash" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>correo</mat-label><input matInput #input class="form-control" placeholder="correo" [(ngModel)]="data.correo" name="correo" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>recordatorio</mat-label><input matInput #input class="form-control" placeholder="recordatorio" [(ngModel)]="data.recordatorio" name="recordatorio" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>estado</mat-label><input matInput #input class="form-control" placeholder="estado" [(ngModel)]="data.estado" name="estado" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>createdBy</mat-label><input matInput #input class="form-control" placeholder="createdBy" [(ngModel)]="data.createdBy" name="createdBy" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>updatedBy</mat-label><input matInput #input class="form-control" placeholder="updatedBy" [(ngModel)]="data.updatedBy" name="updatedBy" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>dueAt</mat-label><input matInput #input class="form-control" placeholder="dueAt" [(ngModel)]="data.dueAt" name="dueAt" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>createdAt</mat-label><input matInput #input class="form-control" placeholder="createdAt" [(ngModel)]="data.createdAt" name="createdAt" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>
    <div class="form"><mat-form-field appearance="outline" class="example-full-width" color="accent"><mat-label>updatedAt</mat-label><input matInput #input class="form-control" placeholder="updatedAt" [(ngModel)]="data.updatedAt" name="updatedAt" required ><mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error></mat-form-field></div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
