<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="2" rowspan="2">

      <mat-toolbar color="primary">
        <span>Usuarios</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="refresh()">
          <mat-icon>refresh</mat-icon>
        </button>
        <button mat-icon-button (click)="addNew()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-toolbar>

      <div class="container mat-elevation-z8" [classList]="convenioService.toggleMenuOpened ? 'fixed' : ''">

        <div class="form">
          <mat-form-field [floatLabel]="'never'" color="accent">
            <input matInput #filter placeholder="Filtrar diccionarios">
          </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- ID Column -->
          <ng-container matColumnDef="id"><mat-header-cell *matHeaderCellDef mat-sort-header>id</mat-header-cell><mat-cell *matCellDef="let row" >{{row.id}}</mat-cell></ng-container>
          <ng-container matColumnDef="id_persona"><mat-header-cell *matHeaderCellDef mat-sort-header>id_persona</mat-header-cell><mat-cell *matCellDef="let row" >{{row.id_persona}}</mat-cell></ng-container>
          <ng-container matColumnDef="user_name"><mat-header-cell *matHeaderCellDef mat-sort-header>user_name</mat-header-cell><mat-cell *matCellDef="let row" >{{row.user_name}}</mat-cell></ng-container>
          <ng-container matColumnDef="user_hash"><mat-header-cell *matHeaderCellDef mat-sort-header>user_hash</mat-header-cell><mat-cell *matCellDef="let row"> {{row.user_hash}}</mat-cell></ng-container>
          <ng-container matColumnDef="correo"><mat-header-cell *matHeaderCellDef mat-sort-header>correo</mat-header-cell><mat-cell *matCellDef="let row"> {{row.correo}}</mat-cell></ng-container>
          <ng-container matColumnDef="recordatorio"><mat-header-cell *matHeaderCellDef mat-sort-header>recordatorio</mat-header-cell><mat-cell *matCellDef="let row"> {{row.recordatorio}}</mat-cell></ng-container>
          <ng-container matColumnDef="estado"><mat-header-cell *matHeaderCellDef mat-sort-header>estado</mat-header-cell><mat-cell *matCellDef="let row"> {{row.estado}}</mat-cell></ng-container>
          <ng-container matColumnDef="createdBy"><mat-header-cell *matHeaderCellDef mat-sort-header>createdBy</mat-header-cell><mat-cell *matCellDef="let row"> {{row.createdBy}}</mat-cell></ng-container>
          <ng-container matColumnDef="updatedBy"><mat-header-cell *matHeaderCellDef mat-sort-header>updatedBy</mat-header-cell><mat-cell *matCellDef="let row"> {{row.updatedBy}}</mat-cell></ng-container>
          <ng-container matColumnDef="dueAt"><mat-header-cell *matHeaderCellDef mat-sort-header>dueAt</mat-header-cell><mat-cell *matCellDef="let row"> {{row.dueAt}}</mat-cell></ng-container>
          <ng-container matColumnDef="createdAt"><mat-header-cell *matHeaderCellDef mat-sort-header>createdAt</mat-header-cell><mat-cell *matCellDef="let row"> {{row.createdAt}}</mat-cell></ng-container>
          <ng-container matColumnDef="updatedAt"><mat-header-cell *matHeaderCellDef mat-sort-header>updatedAt</mat-header-cell><mat-cell *matCellDef="let row"> {{row.updatedAt}}</mat-cell></ng-container>

          <!-- actions -->
          <ng-container matColumnDef="actions"><mat-header-cell *matHeaderCellDef>
            <button mat-icon-button color="primary" (click)="addNew()" [disabled]="false">
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
          </mat-header-cell>

            <mat-cell *matCellDef="let pilatDictionary; let i=index;">
              <button mat-icon-button color="accent" (click)="startEdit(i, pilatDictionary)" [disabled]="false">
                <mat-icon aria-label="Edit">edit</mat-icon>
              </button>

              <button mat-icon-button color="accent" (click)="deleteItem(i, pilatDictionary)" [disabled]="true">
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>


        <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
          <mat-spinner diameter="50" class="mat-spinner" *ngIf="isLoading"></mat-spinner>
        </div>

        <mat-paginator #paginator
                       [length]="dataSource.filteredData.length"
                       [pageIndex]="0"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>
