<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Login Page 2 | Creative - Bootstrap 3 Responsive Admin Template</title>

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/style-responsive.css" rel="stylesheet" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/validator.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->

    <!-- =======================================================
      Theme Name: NiceAdmin
      Theme URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body class="login-img3-body">

<div class="container">

    <h1><span class="fa fa-sign-in"></span><%= title%></h1>

    <!-- show any messages that come back with authenticationn -->
    <% if(message.length > 0) { %>
        <div class="alert alert-danger"> <%= message %></div>
    <% } %>

    <form data-toggle="validator" id="signupForm" role="form" class="login-form" method="post" action="/<%=sys%>/auth/signup">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" class="form-control" name="usr_name" id="inputName" placeholder="Your name" required autofocus>
                </div>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_mail"></i></span>
                    <input type="email" class="form-control" name="usr_username" id="inputEmail" placeholder="Email" data-error="That email address is invalid" required>
                </div>
                <div class="help-block with-errors"></div>
            </div>

            <div class="form-group">
                <div class="input-group col-sm-12">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" data-minlength="6" class="form-control" name="usr_password"
                           id="inputPassword" placeholder="Password" required>
                </div>
                <div class="input-group col-sm-12">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" class="form-control" name="usr_password_repeat" id="inputPasswordConfirm"
                           data-match="#inputPassword" data-match-error="Please match your password"
                           placeholder="Confirm" required>
                </div>
                <div class="help-block with-errors"></div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
            <a href="/pages/login" class="btn btn-info btn-lg btn-block" type="button">Login</a>
        </div>
    </form>

    <hr>
    <p>go <a href="/pages/">home</a>.</p>

    <div class="text-right">
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
            -->
            <a href="https://bootstrapmade.com/">Free Bootstrap Templates</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>

    <hr>

    <p>Need an account? <a href="/<%=sys%>/signup">Signup</a></p>
    <p>Or go <a href="/<%=sys%>/main">home</a>.</p>

</div>

</body>

</html>
